.treeNode {
  margin-left: 10px;
  background-color: #EFEFEF;
  max-width: 450px;
  border-left: 1px dashed #D6D6D6;
}

.leafNode {
  padding: 2px 10px;
  cursor: pointer;
}

.leafNode:hover {
  background-color: #DDD;
}

.folderNode {
  cursor: pointer;
  padding: 5px 5px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  transition: all cubic-bezier(0, 0, 0, 1.05) 200ms;
}

.folderNode:hover {
    background-color: #DDD;
}

.visibleTree {
  opacity: 1;
  height: auto;
}

.hiddenTree {
  transition: height 5s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.loading {
  font-size: 10px;
  padding-left: 10px;
  color: #a94442;
}

.padLeft {
  padding-left: 3px;
}

.padRight {
  padding-right: 8px;
  font-size: 12px;
}
